h4{
   color: #f9f9f9;
   font-size: 32px;
   text-align: center;
}
.pSobre{
    color: #828282;
    margin: 30px auto;
    width: 50%;
    text-align: center;
}

.iconsImg{
    padding: 15px;
    border-radius: 50%;
    background-color: #212121;
}
.informs{
    display: flex;
    text-align: center;
    grid-gap: 121px;
    width: 85%;
    justify-content: center;
    margin: 85px auto 195px auto;
}
.informs h5{
    color: #f9f9f9;
    font-size: 18px;
}
.informs p{
    color: #828282;
    font-weight: 400;
    margin-top: 3.7px;
}

@media(max-width: 950px){
    .pSobre{
        width: 95%;
    }

    .informs{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 45px;
        width: 70%;
        margin: 56px auto 56px auto;
    }
    .informs p{
        font-size: 11.814px;
    }
    
}
@media(max-width: 568px){
    .email{
        font-size: 9px !important;
    }
}