:root{
  --DM: 'DM Sans', sans-serif;
}

body{
  background-color: #171717;
}
/*Header*/
h1{
  color: #fff;
  font-size: 26px;
  color: #F9F9F9;
  transition: transform 1s ease;
}
h1:hover{
  transform: scale(1.2);
  transition: 1s;
}
Header{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-top: 35px;
  cursor: pointer;
  position: fixed;
  top: 0;
  padding: 35px 10% 5px;
  background-color: #171717;
}
a{
  margin-left: 45px;
  text-decoration: none;
  font-size: 18px;
  color: #F9F9F9;
}
#sobreMim{
  margin-left: 0;
}
#menuHamburguer{
  display: none;
}

@media (max-width: 780px){
  header{
    position: none;
    width: 95%;
    left: 2%;
    padding: 10px;
  }
  header a{
    display: none;
    margin-bottom: 15px;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 3px solid #00DF5E;
  }
  @keyframes menu{
    from{opacity: 0; transform: translateX(-100%);}
    to{opacity: 1; transform: translateX(0);}
  }
  nav{
    position: absolute;
    display: block;
    left: 0;
    z-index: 1;
    background-color: #171717;
    top: 50px;
    width: 100%;
    padding: 50px 0 50px;
    animation: menu .5s ease;
  }
  #menuHamburguer{
    display: flex;
    background-color: transparent;
    border: none;
  }
  .inicial{
    display: none;
  }
  .links{
    display: block !important;
  }
  
}